<h1>Book List</h1>
<%= link_to "Add New Book", new_book_path, class: "btn btn-borrow" %>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Available</th>
    <th>Actions</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book %></td>
      <td><%= book.author %></td>
      <td><%= book.available? ? "Yes" : "No" %></td>
      <td class="action-buttons">
        <%= link_to "Edit", edit_book_path(book), class: "btn btn-edit" %>
        <%= button_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete" %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Search Borrowing History</h2>
<%= form_with url: borrowing_histories_path, method: :get, local: true do %>
  <label for="borrower_name">Enter Borrower's Name:</label>
  <%= text_field_tag :borrower_name, params[:borrower_name], class: "form-control" %>
  <br>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


